<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add
      name="StilsoftIRS"
      providerName="Microsoft.Data.SqlClient"
      connectionString="Server=(localdb)\MSSQLLocalDB;Database=StilsoftIRS;Integrated Security=True;TrustServerCertificate=True;" />
  </connectionStrings>
  <appSettings>
    <add key="SchemaScriptPath" value="Database\001_create_schema.sql" />
    <add key="SeedScriptPath" value="Database\002_seed_data.sql" />
  </appSettings>
</configuration>
